{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой блог{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <p>User: {{ user.username }}</p>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'post_list' %}">Post List</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Мой блог. Все права защищены.</p>
    </footer>

    <!-- Здесь можно подключить JavaScript файлы -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>