{% extends 'base.html' %}

{% block title %}Название страницы{% endblock %}

{% block content %}
{% if post is empty %}
<li>No books available.</li>
{% else %}
<li>
    <a href="{% url 'post_list' %}"><strong>{{ post.title }}</strong></a> by {{ post.author }} <br>
    <p>Content: {{ post.content }}</p>
    <p>Published on: {{ post.created_at }} <br></p>
</li>

<h2>Comments</h2>
    <ul>
        {% for comment in post.comments.all %}
            <li><strong>{{ comment.author }}:</strong> {{ comment.text }} <em>({{ comment.created_at }})</em></li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
<button><a href="{% url 'edit_post' id=post.id%}">Edit Post</a></button>
<button><a href="{% url 'delete_post' id=post.id%}">Delete Post</a></button>
<!-- <button><a href="{% url 'delete_post' id=post.id%}">Leave a Comment</a></button> -->
{% endif %}
{% endblock %}